h1 {
    color: blue;
    background-color:yellow;
    border: 1px solid black;
}

p {
    color: red;
}

h2 {
    color:black;
    background-color: rgb(255, 69, 0);
    border: 1px solid black;
}